body{
  font-family: 'Roboto', sans-serif;
  padding: 30px;
  Border: solid 3px #836FFF;
  Margin: auto;
  text-align: center;
  }
img{
  img-align: center;
}
.cor-conteudo{
  background-color: #836FFF;
}
h1{
  
}